.App {
    max-width: 1140px;
}

.header {
    padding: 80px;
    text-align: center;
    color: white;
    
  }
   
  .header h1 {
    font-size: 3vw;
  }

  @media only screen and (max-width: 1112px) {
    .header h1 {
        font-size: 2em;
      }
  }

   
  .navbar {
    overflow: hidden;
    display: flex;
  flex-direction: row;
  justify-content: center;
  }
   
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
   

   
 
   
  .fakeimg {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
  }
   
   
  .sticky {
    position: fixed;
    top: 0;
    overflow:inherit;
    width: 1140px;
  }
   

  